*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
nav{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
nav ul{
    width: 80%;
    margin: auto;
    display: flex;
    list-style: none;
    padding: 25px;
}
nav ul li a{
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
nav ul li a:hover{
    background-color: wheat;
}
.active-link{
    text-decoration: underline;
}
header{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
}
section.home-box{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}
section.home-box .card{
    width: 300px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ............................About.................... */
section.about-container{
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    margin-top: 70px;
}
.content{
    width: 68%;
}
.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    width: 800px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 30px;
}
.content p{
    width: 99%;
}

.card{
    width: 400px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* ..................................Service............... */
table{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    border-collapse: collapse;
    color: white;
}
table,th,td{
    padding: 10px;
}
caption{
    font-size: 26px;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: black;
}
th:nth-child(1), td:nth-child(1){
    background-color: rgb(60, 179, 113);
}
th:nth-child(2), td:nth-child(2){
    background-color: rgb(50, 189, 113);
}
th:nth-child(3), td:nth-child(3){
    background-color: rgb(70, 199, 133);
}
th:nth-child(4), td:nth-child(4){
    background-color: rgb(90, 200, 153);
}
td:hover{
    background-color: aqua;
}
th:hover{
    background-color: aqua;
}


